<div class="background-signup">
  <div class="container" style="padding-top: 8%;">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="signin-login"><span style="background-color: #FFE161">Sign up</span></h2>
        <div class="form-border">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name))  do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :name, class: 'text' %><br />
              <%= f.text_field :name, class: 'input-fields', placeholder: "", autofocus: true, autocomplete: "Username"%>
            </div>

            <div class="field">
              <%= f.label :email, class: 'text'  %><br />
              <%= f.email_field :email, class: 'input-fields', placeholder: "", autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field">
              <%= f.label :password, class: 'text'  %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, class: 'input-fields', placeholder: "", autocomplete: "new-password" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation, class: 'text'  %><br />
              <%= f.password_field :password_confirmation, class: 'input-fields' , placeholder: "", autocomplete: "new-password" %>
            </div>

            <%= f.hidden_field :personality_id, value: params[:personality_id].to_i %>

            <div class="actions">
              <%= f.submit "Sign up", class: 'form-button-submit'%>
            </div>
          <% end %>
          <br>
          <%= link_to "Already have an account?", new_session_path(resource_name), class: 'form-link-login' %>
        </div>

        <%# <%= render "devise/shared/links", class: 'form-link-login'%>
      </div>
    </div>
  </div>
</div>
