
<div class="background-color-profile">
<br><br><br><br><br>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
      <h1 class="greeting">Hey, <%= current_user.name %></h1>
      <div class="user-personality">
      <%# Please check if @personality.name/image/description is the right linkage to user%>
        <h2>You are a <%= @personality.name %></h2>
        <img src="<%= @personality.image %>" alt="" class="personality-img">
        <%# grab traints from tags? table %>
        <ul class="trait">
          <h4><li> #trait 1 |</li>
          <li> #trait 2 |</li>
          <li> #trait 3</li></h4>
        </ul>
        <div class="personality-description">
          <p><%= @personality.description %></p>
        </div>
      </div>

      <%# need to link user-personality and activities  %>
      <div class="recommendation">
        <h2 class="profile-titles">Recommended Activities</h2>
        <div class="profile-cards">
          <% activities = [Activity.find(1), Activity.find(4), Activity.find(8), Activity.find(22)] %>
            <% activities.each do |activity| %>
              <div class="card">
                <img class="card-img-top" src="<%= activity.image %>" alt="picture">
                <div class="card-body">
                  <h3 class="card-title"><%= activity.name %></h3>
                  <div class="card-link">
                    <%= link_to toggle_favorite_activity_path(activity), remote: true, method: :post do %>
                    <%= render 'users/like_button', activity: activity %>
                    <% end %>
                    <div>
                      <a href="<%= activity_path(activity) %>" class="btn-recommended">Check This Activity</a>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
        </div>
      </div>

      <div class="favourite">
        <h2 class="profile-titles">Your Favourite Activities </h2>
        <div class="profile-cards">
            <% current_user.all_favorited.each do |activity| %>
              <div class="card">
                <img class="card-img-top" src="<%= activity.image %>" alt="picture">
                <div class="card-body">
                <h3 class="card-title"><%= activity.name %></h3>
                  <div class="card-link">
                    <%= link_to toggle_favorite_activity_path(activity), remote: true, method: :post do %>
                    <%= render 'users/liked_button', activity: activity %>
                    <% end %>
                    <div>
                      <a href="<%= activity_path(activity) %>" class="btn-recommended">Check This Activity</a>
                    </div>
                  </div>
            </div>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
