<div class="navbar  navbar-expand-md navbar-light bg-faded">
  <div class="container-fluid" style='text-align:center; background: none;' >
    <div class="d-flex">
      <%= link_to "/", class: "container navbar-brand" do %>
        <%= image_tag "black_logo.png", width: "80px" %>
      <% end %>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", "/", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Profile", "/profile", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Take the Quiz", "/quiz", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Spin the wheel", "/wheel", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Explore Activites", "/activities", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>

          </li>
        <% else %>
          <li class="nav-item btn-login">
            <%= link_to "Log in", new_user_session_path, class: "nav-link"%>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
