<%= render '/shared/navbar' %>
<div class="container">
  <div class="row">

    <div class="col justify-content-center body">
      <main id="carousel">
        <div class="item">
          <h2><%= Activity.find(1).name %></h2>
          <img class="wheel-image" src="<%= Activity.find(1).image %>" alt="">
          <br>
          <%= link_to "Go to Activity", "/activities/1", class:"btn-sm btn-dark" %>
        </div>
        <div class="item">
          <h2><%= Activity.find(2).name %></h2>
          <img class="wheel-image" src="<%= Activity.find(2).image %>" alt="">
          <br>
          <%= link_to "Go to Activity", "/activities/2", class:"btn-sm btn-dark" %>
        </div>
        <div class="item">
          <h2><%= Activity.find(3).name %></h2>
          <img class="wheel-image" src="<%= Activity.find(3).image %>" alt="">
          <br>
          <%= link_to "Go to Activity", "/activities/3", class:"btn-sm btn-dark" %>
        </div>
        <div class="item">
          <h2><%= Activity.find(4).name %></h2>
          <img class="wheel-image" src="<%= Activity.find(4).image %>" alt="">
          <br>
          <%= link_to "Go to Activity", "/activities/4", class:"btn-sm btn-dark" %>
        </div>
        <div class="item">
          <h2><%= Activity.find(5).name %></h2>
          <img class="wheel-image" src="<%= Activity.find(5).image %>" alt="">
          <br>
          <%= link_to "Go to Activity", "/activities/5", class:"btn-sm btn-dark" %>
        </div>
        <div class="item">
          <h2><%= Activity.find(6).name %></h2>
          <img class="wheel-image" src="<%= Activity.find(6).image %>" alt="">
          <br>
          <%= link_to "Go to Activity", "/activities/6", class:"btn-sm btn-dark" %>
        </div>
        <div class="item">
          <h2><%= Activity.find(7).name %></h2>
          <img class="wheel-image" src="<%= Activity.find(7).image %>" alt="">
          <br>
          <%= link_to "Go to Activity", "/activities/7", class:"btn-sm btn-dark" %>
        </div>
        <div class="item">
          <h2><%= Activity.find(8).name %></h2>
          <img class="wheel-image" src="<%= Activity.find(8).image %>" alt="">
          <br>
          <%= link_to "Go to Activity", "/activities/8", class:"btn-sm btn-dark" %>
        </div>
        <div class="item">
          <h2><%= Activity.find(9).name %></h2>
          <img class="wheel-image" src="<%= Activity.find(9).image %>" alt="">
          <br>
          <%= link_to "Go to Activity", "/activities/9", class:"btn-sm btn-dark" %>
        </div>
        <div class="item">
          <h2><%= Activity.find(10).name %></h2>
          <img class="wheel-image" src="<%= Activity.find(10).image %>" alt="">
          <br>
          <%= link_to "Go to Activity", "/activities/10", class:"btn-sm btn-dark" %>
        </div>
        <div class="item">
          <h2><%= Activity.find(11).name %></h2>
          <img class="wheel-image" src="<%= Activity.find(11).image %>" alt="">
          <br>
          <%= link_to "Go to Activity", "/activities/11", class:"btn-sm btn-dark" %>
        </div>
        <div class="item">
          <h2><%= Activity.find(12).name %></h2>
          <img class="wheel-image" src="<%= Activity.find(12).image %>" alt="">
          <br>
          <%= link_to "Go to Activity", "/activities/12", class:"btn-sm btn-dark" %>
        </div>
        <%# <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div> %>
      <main>
    </div>

    <div class="row">
      <div class="col d-flex justify-content-center">
        <button type="button" class="btn-lg btn-dark" id="random">Spin me!</button>
      </div>
    </div>

    <div class="row">
      <div class="col d-flex justify-content-center">
      <button type="button" class="btn btn-primary" id="before" style="visibility: hidden">Before</button>
      <button type="button" class="btn btn-primary" id="next" style="visibility: hidden">Next</button>
      </div>
    </div>
    </div>
  </div>

</div>

<%= javascript_pack_tag 'wheel' %>
