<h1>Browse Activities</h1>

<%= form_tag activities_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find an activity"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="activities">
         <% @activities.each do |activity| %>
          <p>Name: <%= activity.name %></p>
          <p>Description:<%= activity.description %></p>
          <p>Organisation: <%= activity.organisation.name %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
