<div class="background-color">
  <%= render '/shared/navbar' %>
  <div class="activities-container">
    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">

          <div class="search-bar">
            <h3>Search</h3>
            <div class="d-flex">
            <div class="search-box">
              <%= form_tag activities_path, method: :get do %>
                <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                    placeholder: "Find an activity"
                  %>
            </div>
              <div>
                <%= submit_tag "Search", class: "btn-search" %>
              </div>
              <% end %>
          </div>

    </div>
  </div>
  </div>
</div>


      <%# Search by activity types %>
<div class="row">
<div class="col-12 justify-center">
    <div class="icon">
      <div id="activity-filters-anchor" style="transform: translateY(-150px);"></div>
      <% Type.all.each do |type| %>
        <% if params[:type] == type.name %>
          <%= link_to  activities_path(anchor: 'activity-filters-anchor'), class: "activity-filter #{'active' if params[:type] == type.name}" do  %>
            <img src="<%= type.image %>" alt="" class="type-image">
            <%= type.name %>
          <% end %>
        <% else %>
          <%= link_to  activities_path(type: type.name, anchor: 'activity-filters-anchor'), class: "activity-filter #{'active' if params[:type] == type.name}" do  %>
            <img src="<%= type.image %>" alt="" class="type-image">
            <%= type.name %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%# Cards %>
<div class="background-color">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 justify-centre">

        <div class="main-container">
          <div class="cards">
            <% @activities.each do |activity| %>

              <div class="card">
                <img class="card-img-top" src="<%= activity.image %>" alt="picture">
                <div class="card-body">
                <h3 class="card-title"><%= activity.name %></h3>
                <p class="card-text"><%= activity.description.truncate_words(20) %></p>
                  <div class="card-link">
                   <% if user_signed_in? %>
                    <%= link_to toggle_favorite_activity_path(activity), remote: true, method: :post do %>
                    <%= render 'activities/like_button', activity: activity %>
                    <% end %>
                    <% end %>
                    <div>
                      <a href="<%= activity_path(activity) %>" class="btn-card">Check This Activity</a>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
