<div class="activity-show-background" style="height: 100%">
  <%= render '/shared/navbar' %>
  <div class="container activity-main">
    <div class="activity-name">
      <h1><span class="activity-name-title"><%= @activity.name %></span></h1>
    </div>
    <img src="<%= @activity.image %>" alt="" class="activity-image" />
    <p class="activity-description"><%= @activity.description %></p>
  </div>

  <div class="container activity-connect">
    <h2><span>Check out these organisations</span></h2>
    <div class="container border-connect">
      <ul>
        <% @activity.organisation.each do |organisation| %>
          <p><li><img src="https://cdn-icons-png.flaticon.com/512/1828/1828614.png" width="2%"><a href=<%= organisation.url %> class="org-link"> <%= organisation.name %></a></li></p>
        <% end %>
      </ul>
    </div>
  </div>
  <br><br>
</div>
